# Font and layout
gui.qt.font_name: Source Code Pro,14,-1,5,50,0,0,0,0,0
gui.layout_type: 2

# Don't bother with resolving MACs
nameres.mac_name: FALSE

# Absolute seqs
tcp.relative_sequence_numbers: FALSE

# Enable heuristic
tcp.try_heuristic_first: TRUE

# Open from our PCAP directory
gui.fileopen.dir: {{ home_dir }}/pcaps